<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>欢迎登录</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/login.js}"></script>
    <script>
        $(document).ready(function () {
            var service = GetQueryString("service");
            if (service == null) {
                service = $("#service").val();
            }
            console.info("service：" + service);
            $("#service").val(service); // 受访受限url的地址
            // 新进行判断用户是否登录过
            // $.ajax({
            //     method: "GET",
            //     url: "/sso/check",
            //     data: {'service': service},
            //     xhrFields: {
            //         withCredentials: true
            //     },
            //     crossDomain: true,
            //     dataType: "jsonp",
            //     jsonp: "callback",
            //     // cache: false,
            //     success: function (result) {
            //         console.info("请求成功");
            //         console.info(result);
            //         if (result.status == 1) {
            //             // 设置 302 重定向跳转
            //             window.location.href = result.data;
            //         } else {
            //             // 显示登录页面
            //             $("#mask").hide();
            //         }
            //     },
            //     error: function (data) {
            //         console.info("请求失败");
            //         $("#mask").hide();
            //     }
            // });
        });
    </script>
</head>

<body>
<div id="mask" class="mask" style="display: none;"></div>
<main class="container">
    <div id="loginDiv" class="card">
        <div class="card-body">
            <form method="post" id="fm1" action="http://106.74.154.84:9191/sso/login">
                <div>
                    <img th:src="@{/images/logo.png}" style="margin-left: 43px;">
                </div>
                <!-- <div class="title">欢迎登录</div> -->
                <div class="error"></div>
                <section class="form-group">
                    <!-- <label for="username">用户名</label> -->
                    <div class="input-wrapper">
                        <input class="form-control required" id="username" name="username" type="text"
                               autocomplete="off" placeholder="请输入用户名">
                    </div>
                </section>
                <section class="form-group">
                    <!-- <label for="password">密码</label> -->
                    <div class="input-wrapper">
                        <input class="form-control required" type="password" id="password" name="password"
                               autocomplete="off" placeholder="请输入密码">
                    </div>
                </section>
                <input type="hidden" name="source" id="source" value="aicity/login">
                <input type="hidden" name="service" id="service" value="http://106.74.154.84:3000/v1/index">
                <div class="btn-group">
                    <button class="btn btn-block btn-submit" name="submit" type="submit">登
                        录
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>