<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>欢迎登录</title>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet">
</head>

<body>
<div id="mask" class="mask" style="display: none;"></div>
<main class="container">
    <div id="loginDiv" class="card">
        <div class="card-body">
            <form method="post" id="fm1" th:action="@{/login}">
                <div>
                    <img th:src="@{/images/logo.png}" style="margin-left: 43px;">
                </div>
                <!-- <div class="title">欢迎登录</div> -->
                <div class="error"></div>
                <section class="form-group">
                    <div class="input-wrapper">
                        <input class="form-control required" id="username" name="username" type="text" autocomplete="off" placeholder="请输入账号">
                    </div>
                </section>
                <section class="form-group">
                    <div class="input-wrapper">
                        <input class="form-control required" type="password" id="password" name="password" autocomplete="off" placeholder="请输入密码">
                    </div>
                </section>
                <input type="hidden" th:name="client_id" th:value="${clientId}">
                <div class="btn-group">
                    <button class="btn btn-block btn-submit" type="button" onclick="login()">登 录</button>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
<script src="../static/lib/jquery-3.4.0.js" th:src="@{/lib/jquery-3.4.0.js}"></script>
<script>
    $('#username').focus();

    function login() {
        var data = $('#fm1').serialize();
        $.ajax({
            type: 'POST',
            url: './login',
            data: data,
            success: function (result) {
                if (result.code === 1) {
                    window.location.href = result.message;
                } else {
                    alert(result.message);
                }
            }
        })
    }
</script>
</html>